body{
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}



#header{
    background-color: #dbe2ef;
    font-family: 'Fahkwang', sans-serif;
    width: 100vw;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#maincontainer{
    display: flex;
    justify-content: space-evenly;

}

#main{
    margin: 50px 10px 50px 0px;
    width:78vw;
}

#sidecount{
    margin-top: 50px;
    margin-left: 10px;
    width: 15vw;
    padding-top: 50px;

}


.messages{
    margin: 0px 0px 10px 0px;
    border: 1px solid lightslategray;
    font-weight: 900;
}

.fromDate{
    font-family: 'Quicksand', sans-serif;
    background-color: #dbe2ef;
    color: #112d4e;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
}

.mailBody{
    font-weight: normal;
    display: none;
    padding: 10px 10px;
}

.statbox{
    display: flex;
    justify-content: space-between;
}

.subject{
    padding: 5 5 5 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
