

body{
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    cursor: crosshair;
    background-color: #fcf5ee;
}

header{
    background-color: #65c6c4;
    font-family: 'Fahkwang', sans-serif;
    width: 100vw;
    height: 80px;
    text-align: center;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

header:hover{
    font-size: 50px;
    color: white;

}

#main{
    top: 120px;
    margin-left: 200px;
    margin-top: 0px;
    margin: 10px 10px 50px 0px;
    width: 78vw;
    height: 525px;
    position: absolute;
    overflow-y: scroll;
    right: 10px;
}

#sidecount{
    margin-top: 100px;
    margin-left: 10px;
    width: 15vw;
    padding-top: 50px;
    position: fixed;
}

.message{
    margin: 0px 0px 10px 0px;
    border-radius: 5px 0px 25px 0px; 
    overflow: hidden;
    z-index: 1;
    border: 1px solid lightslategray;
    font-weight: 900;
}

.fromDate{
    font-family: 'Quicksand', sans-serif;
    background-color: #65c6c4;
    color: #112d4e;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
}

.mailBody{
    font-weight: normal;
    display: none;
    padding: 10px 10px;
}

.mailBody:hover{
    background-color: aquamarine;
}

.markReadDiv{
    display: inline;
    padding-top: 5px;
    padding-right: 20px;
}

.readStatus{
    display: none;
}

.statbox{
    display: flex;
    justify-content: space-between;
}

.subjectBodyBox{
    display: flex;
    justify-content: space-between;
}

.subjectBodyBox:hover{
    background-color: hotpink;
}

.subject{
    padding: 5 5 5 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.countstat{
    display: flex;
    justify-content: space-between;
}
